/* LoginForm.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3f2fd;
    font-family: 'Arial', sans-serif;
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input {
    padding: 10px;
    width: 250px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
  }
  
  .login-form input:focus {
    border-color: #1e88e5;
    outline: none;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #1e88e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #1565c0;
  }
  
  .typing-effect {
    font-size: 20px;
    font-weight: bold;
    color: #1e88e5;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #1e88e5;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 20ch; /* Adjust according to the length of the text */
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  